@import url(https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap);

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------------ Header ---------------------- */
.header {
  text-align: center;
  background: #000000;
  color: white;
  font-size: 30px;
  width: 100%;
  height: 12vh;
}

h1 {
  font-size: 16px;
  font-weight: 1000;
  letter-spacing: 0.5px;
}

.Login-Button {
  font-weight: 900;
  font-size: 14px;
}

.header-content {
  display: inline;
  justify-content: space-between;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* ------------------------ Review Card List ---------------------- */
.cardList {
  display: flex;
  flex-flow: row wrap;
  margin: 10px;
  justify-content: space-evenly;
  padding-left: 0;
}

h2 {
  font-size: 35px;
  letter-spacing: 0em;
  font-weight: 1000;
  padding-top: 7%;
  padding-bottom: 7%;
  color: #333333;
}

.card {
  box-shadow: 2px 5px 25px #d2d2d2;
  border-radius: 5vh;
  margin: 0.5vw;
  margin-bottom: 3vh;
  margin-top: 2vh;
  width: 280px;
  height: 400px;
  color: #333333;
  padding: 30px;
  align-items: flex-start;
  border-width: 0px;
  margin-bottom: 5%
}

.author {
  color: #666666;
  font-size: 16px;
  font-weight: 600
}
.Read-More{
  box-shadow: 0px 3px 12px #afafaf;
}


h3{
  font-size: 20px;
  font-weight: bold;
  text-align: start;
  padding-top: 30px;

}

.reviewPic {
  width: 220px;
  height: 155px;
}

.button {
  font-weight: 900;
  font-size: 14px;
}

/* ------------------------ Nav ---------------------- */

.Nav {
  padding: 5%;
  display: flex;
  justify-content: space-evenly;
}

.App {
  text-align: center;
  background-color: #f9f9f9;
  font-family: "Manrope";
}

.App-link {
  color: #61dafb;
}
